

<section th:fragment="content">
	<!-- prs title wrapper Start -->
	<div class="prs_title_main_sec_wrapper">
		<div class="prs_title_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_title_heading_wrapper">
						<h2>Event Single Page</h2>
						<ul>
							<li><a href="#">Home</a></li>
							<li>&nbsp;&nbsp; >&nbsp;&nbsp; Event</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs title wrapper End -->
	<!-- prs es about wrapper Start -->
	<div class="prs_es_about_main_section_wrapper">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
				<div class="hs_blog_slider_img_wrapper prs_event_single_slider_wrapper">
					<div class="owl-carousel owl-theme" style="width: 100% !important; height: auto !important; max-height: 500px !important; display: block;">
						<div class="item">
							<img th:src="@{/images/content/event/image2.jpg}" alt="">
						</div>
						<div class="item">
							<img th:src="@{/images/content/event/japan01.jpg}" alt="">
						</div>
						<div class="item">
							<img th:src="@{/images/content/event/image3.jpg}" alt="">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- prs es about wrapper End -->
	<!-- prs es Event Schedule Start -->
	<div class="prs_es_schedule_event_section_wrapper" style="margin-bottom:50px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>Event Schedule</h2>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_es_tabs_wrapper">
						<ul class="nav nav-pills">
							<li class="active">
								<a data-toggle="pill" href="#home" style="min-width: 275px;">進行中イベント</a>
							</li>
							<li>
								<a data-toggle="pill" href="#menu1" style="min-width: 275px;">先達てのイベント</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-10 col-lg-offset-1 col-lg-offset-right-1 col-md-9 col-md-offset-1 col-md-offset-right-1 col-sm-12 col-xs-12">
					<div class="prs_es_tabs_cont_main_wrapper">
						<div class="tab-content">
							<!-- Home 탭 -->
							<div id="home" class="tab-pane fade in active">
								<div class="event-grid">
									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan11.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style= "width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 08, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>

									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan10.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 08, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>

									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan10.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 08, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>
									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/down.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 08, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>
									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan10.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 08, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>
									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan10.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 08, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>
								</div>
							</div>
							<!-- Menu1 탭 -->
							<div id="menu1" class="tab-pane fade">
								<div class="event-grid">
									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan10.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 09, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>

									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan11.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 09, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>

									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan10.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 09, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>

									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan12.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 09, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>
									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/japan11.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 09, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>

									<div class="prs_es_tabs_event_sche_main_box_wrapper">
										<div class="prs_es_tabs_event_sche_img_wrapper">
											<img th:src="@{/images/content/event/down.jpg}" alt="event_img" style="height: 150px; border-radius: 10px;">
										</div>
										<div class="prs_es_tabs_event_box_img_cont_wrapper" style="width: 100%;">
											<h2>Welcome Registration</h2>
											<h3>March 09, 2018 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>08:00 - 12:00 pm</span></h3>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div> <!-- prs es Event Schedule End -->

	<script>
		$(document).ready(function () {
      $(".owl-carousel").owlCarousel({
        items: 1, // 한 번에 하나의 아이템만 표시
        loop: true, // 무한 반복 활성화
        autoplay: true, // 자동 재생 활성화
        autoplayTimeout: 3000, // 자동 재생 시간 (밀리초 단위)
        autoplayHoverPause: true, // 마우스 호버 시 일시 중지
        nav: true, // 이전/다음 버튼 활성화
        dots: true, // 점 네비게이션 활성화
        navText: ["<div class='nav-btn prev-slide'>&#9664;</div>", "<div class='nav-btn next-slide'>&#9654;</div>"], // 커스텀 버튼 HTML
      });
    });

	</script>

</section>
