<th:block th:fragment="content">
    <!-- Movie List Start -->
    <div class="container-fluid pt-3 px-3">
        <div class="row bg-light rounded align-items-center justify-content-center mx-0" style="min-height: 70vh;">
            <div class="col-md-10"> <!-- 폼의 최대 너비를 설정 -->
                <h1 class="mb-3 text-center">映画リスト</h1>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <a href="/admin/movie/set">
                            <img th:src="@{/admin/img/testimonial-1.jpg}" class="img-fluid rounded">
                            <h4 class="mt-2 text-center">제목</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mb-4">
                        <a href="/admin/movie/set">
                            <img th:src="@{/admin/img/testimonial-1.jpg}" class="img-fluid rounded">
                            <h4 class="mt-2 text-center">제목</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mb-4">
                        <a href="/admin/movie/set">
                            <img th:src="@{/admin/img/testimonial-1.jpg}" class="img-fluid rounded">
                            <h4 class="mt-2 text-center">제목</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mb-4">
                        <a href="/admin/movie/set">
                            <img th:src="@{/admin/img/testimonial-1.jpg}" class="img-fluid rounded">
                            <h4 class="mt-2 text-center">제목</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mb-4">
                        <a href="/admin/movie/set">
                            <img th:src="@{/admin/img/testimonial-1.jpg}" class="img-fluid rounded">
                            <h4 class="mt-2 text-center">제목</h4>
                        </a>
                    </div>
                    <div class="col-md-4 mb-4">
                        <a href="/admin/movie/set">
                            <img th:src="@{/admin/img/testimonial-1.jpg}" class="img-fluid rounded">
                            <h4 class="mt-2 text-center">제목</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Movie List End -->
</th:block>
