<th:block th:fragment="content">
    <!-- Users Start -->
    <div class="container-fluid pt-3 px-3">
        <div class="row bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h2 class="mb-4 text-center">会員管理</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">name</th>
                                <th scope="col">email</th>
                                <th scope="col">phone</th>
                                <th scope="col">birth</th>
                                <th scope="col">social</th>
                                <th scope="col">created</th>
                                <th scope="col">button</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">1</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">2</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">3</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">4</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">5</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">6</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">7</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">8</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">9</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            <tr class="align-middle">
                                <form name="users">
                                    <div></div>
                                    <th scope="row" name="id">10</th>
                                    <td name="name">John</td>
                                    <td name="email">jhon@email.co</td>
                                    <td name="phone">01012345678</td>
                                    <td name="birth">2000-01-01</td>
                                    <td name="social">none</td>
                                    <td name="created">2024-12-00</td>
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded-pill m-2">退会</button></td>
                                </form>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Users End -->
</th:block>