<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.mapper.SeatMapper">
    <!-- SQL 문 -->
    <insert id="insertSeat" parameterType="list">
        INSERT INTO seats (screen_id, schedule_id, seat_column, seat_row, seat_price)
        VALUES
        <foreach collection="list" item="seats" separator=",">
            (#{seats.screenId}, #{seats.scheduleId}, #{seats.seatColumn}, #{seats.seatRow}, #{seats.seatPrice})
        </foreach>
    </insert>
</mapper>